{{ define "grouped-borders" -}}
:not(.grouped) {
  border-radius: {{ .css.borders.radius }};
}

.grouped {
  border-radius: 0;
}
.grouped:first-child {
  border-top-left-radius: {{ .css.borders.radius }};
  border-bottom-left-radius: {{ .css.borders.radius }};
}
.grouped:last-child {
  border-top-right-radius: {{ .css.borders.radius }};
  border-bottom-right-radius: {{ .css.borders.radius }};
}
.grouped:not(:last-child) {
  border-right: none;
}
{{- end }}