name: Build golang executable on PR

on:
  pull_request_target:

jobs:
  golang-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - linux
          - windows
          - darwin
        arch:
          - amd64
          - arm64
    steps:
      - uses: thetillhoff/action-golang-build@b59a74caebaf04979296ebfd7feb62b384d816c8 # v0.3.0
        with:
          OS: "${{ matrix.os }}"
          ARCH: "${{ matrix.arch }}"
          BUILDARGS: -ldflags="-X github.com/thetillhoff/temingo/cmd.version=${{ github.ref_name }}"
